<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Header</title>
</head>
<body>
<div id="burger-menu" class="burger-menu" th:fragment="burger-menu">
    <div class="account-block" th:if="${user == null}">
        <a th:href="@{/}">
            <img style="width: 40px;" th:src="@{/logos/account_circle.svg}">
        </a>
        <div class="auth">
            <a class="login-btn" th:href="@{/login}">Login</a>
            <a class="registration-btn" th:href="@{/signin}">Registration</a>
        </div>
    </div>
    <div class="account-block" th:if="${user != null}" th:object="${user}">
        <a th:href="@{/account}">
            <img style="width: 40px; border-radius: 50%;" th:src="*{userAvatar.pictureUrl}">
        </a>
        <div class="auth">
            <a class="account-name" th:href="@{/account}" th:text="*{username}">Login</a>
        </div>
    </div>
    <div class="burger-links">
        <a th:href="@{/}" class="burger-link">
            <img th:src="@{/logos/hotel_class.svg}">
            <div class="link-title">Досягнення</div>
        </a>
        <a th:href="@{/}" class="burger-link">
            <img th:src="@{/logos/call_quality.svg}">
            <div class="link-title">Контакти</div>
        </a>
        <a th:href="@{/}" class="burger-link">
            <img th:src="@{/logos/partner_exchange.svg}">
            <div class="link-title">Партнери</div>
        </a>
        <a th:href="@{/}" class="burger-link">
            <img th:src="@{/logos/contact_support.svg}">
            <div class="link-title">FAQ</div>
        </a>
    </div>
</div>
</body>
</html>