<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Header</title>
</head>
<body>
<header class="dark-header" th:fragment="dark-header">
    <a th:href="@{/}">
        <img th:src="@{logos/light_misto.svg}"/>
    </a>
    <div class="header-links">
        <a th:href="@{/}">Головна</a>
        <a th:href="@{/}">Про проект</a>
        <a th:href="@{/catalog}">Усі квести</a>
        <div class="list">
            <a class="header-list">Харків</a>
            <div class="list-wrapper">
                <a href="#">Київ</a>
                <a href="#">Ужгород</a>
            </div>
        </div>
        <a class="burger-menu-btn">
            <img th:src="@{logos/light_menu.svg}">
        </a>
    </div>
    <div th:replace="~{fragments/burger-menu.html :: burger-menu}">

    </div>
</header>
<header class="light-header" th:fragment="light-header">
    <a th:href="@{/}">
        <img th:src="@{logos/dark_misto.svg}"/>
    </a>
    <div class="header-links">
        <a th:href="@{/}">Головна</a>
        <a th:href="@{/}">Про проект</a>
        <a th:href="@{/catalog}">Усі квести</a>
        <div class="list">
            <a class="header-list">Харків</a>
            <div class="list-wrapper">
                <a href="#">Київ</a>
                <a href="#">Ужгород</a>
            </div>
        </div>
        <a class="burger-menu-btn">
            <img th:src="@{logos/dark_menu.svg}">
        </a>
    </div>
    <div th:replace="~{fragments/burger-menu.html :: burger-menu}">

    </div>
</header>
</body>
</html>