<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Header</title>
</head>
<body>
<header th:fragment="header">
    <a th:href="@{/}">
        <img th:src="@{logos/misto.svg}"/>
    </a>
    <div class="header-links">
        <a th:href="@{/}">Головна</a>
        <a th:href="@{/}">Про проект</a>
        <a th:href="@{/catalog}">Усі квести</a>
        <div class="list">
            <a class="header-list">Харків</a>
            <div class="list-wrapper">
                <a href="#">Київ</a>
                <a href="#">Ужгород</a>
            </div>
        </div>
        <a id="burger-btn" class="burger-menu-btn" onclick="showBurgerMenu()">
            <img th:src="@{logos/menu.svg}">
        </a>
    </div>
    <div id="burger-menu" class="burger-menu">
        <div class="account-block">
            <a th:href="@{/}">
                <img th:src="@{logos/account_circle.svg}">
            </a>
            <div class="auth">
                <a class="login-btn" th:href="@{/}">Login</a>
                <a class="registration-btn" th:href="@{/}">Registration</a>
            </div>
        </div>
        <div class="burger-links">
            <a th:href="@{/}" class="burger-link">
                <img th:src="@{logos/hotel_class.svg}">
                <div class="link-title">Досягнення</div>
            </a>
            <a th:href="@{/}" class="burger-link">
                <img th:src="@{logos/call_quality.svg}">
                <div class="link-title">Контакти</div>
            </a>
            <a th:href="@{/}" class="burger-link">
                <img th:src="@{logos/partner_exchange.svg}">
                <div class="link-title">Партнери</div>
            </a>
            <a th:href="@{/}" class="burger-link">
                <img th:src="@{logos/contact_support.svg}">
                <div class="link-title">FAQ</div>
            </a>
        </div>
    </div>
</header>
</body>
</html>