<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/account.css}">
    <title>Квест</title>
</head>
<body th:object="${quest}">

<div th:replace="~{fragments/header.html :: light-header}"></div>

<div class="content">
    <div class="account-content">
        <h2>Контактні дані</h2>
        <div class="account" th:object="${user}">
            <div class="account-box">
                <div class="account-info">
                    <img th:src="*{userAvatar.pictureUrl}">
                    <div class="name" th:text="*{username}"></div>
                </div>
                <div class="money">
                    <div class="reward-value">
                        <img class="crystal" th:src="@{/logos/crystal.svg}">
                        <div class="revard-value" th:text="*{gemBalance}"></div>
                    </div>
                    <a class="shop">Поповнити</a>
                </div>
            </div>
            <div class="account-data">
                <div class="data">
                    <label>E-mail</label>
                    <input th:value="*{email}" disabled>
                </div>
            </div>
            <a th:href="@{/logout}">Вийти</a>
            <div class="promocodes">
                <h2>Промокоди</h2>
                <div class="promocode" th:each="quest : ${quests}" th:object="${quest}">
                    <div class="promo-info">
                        <img class="promo-image" th:src="*{quest.pictureUrl}">
                        <div class="promo-description">
                            <div class="promo-name" th:text="*{quest.name}"></div>
                        </div>
                    </div>
                    <div class="promocode-value-container">
                        <input class="promocode-value" th:value="${UUID.getUUID()}" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>